{% extends 'blogbase.html' %}

{% block baseBody %}
<style>
    .font-weight-bold{
        font-style:bold;
        font-weight: 700;
    }
 .show {
    opacity: -1;
    }
    .fade {
  display: none;
}
.modal-backdrop.show {
    opacity: .5;
    top: 100vh;
}

    .tx-14{
        font-size:1.5rem;
    }
    img.profile-pic {
    height: 100px;
    width: 100px;
    object-fit: cover;
}






</style>

<div class="profile-page tx-13">
    <div class="row">
        <div class="row profile-body" style="display:flex;justify-content:space-between;">
            <!-- left wrapper start -->
            <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper"
                 style="position:fixed; top:5rem; left:0; overflow-x: auto;">
                <div class="card rounded">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="card-title mb-0">About</h6>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="feather feather-more-horizontal icon-lg text-muted pb-3px">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle>
                                    </svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-edit-2 icon-sm mr-2">
                                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                        </svg>
                                        <span class="">Edit</span></a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-git-branch icon-sm mr-2">
                                            <line x1="6" y1="3" x2="6" y2="15"></line>
                                            <circle cx="18" cy="6" r="3"></circle>
                                            <circle cx="6" cy="18" r="3"></circle>
                                            <path d="M18 9a9 9 0 0 1-9 9"></path>
                                        </svg>
                                        <span class="">Update</span></a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-eye icon-sm mr-2">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                        <span class="">View all</span></a>
                                </div>
                            </div>
                        </div>
                        <p>{{username.about}}</p>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Joined:</label>
                            <p class="text-muted">{{username.creatDate.date}}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Lives:</label>
                            <p class="text-muted">{{username.city}}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
                            <p class="text-muted">{{username.email}}</p>
                        </div>
                        <div class="mt-3">
                            <label class="tx-11 font-weight-bold mb-0 text-uppercase">Occupation:</label>
                            <p class="text-muted">{{username.userType}}</p>
                        </div>
                        <div class="mt-3 d-flex social-links">
                            <a href="javascript:;"
                               class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon github">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-github" data-toggle="tooltip"
                                     title="" data-original-title="github.com/nobleui">
                                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                                </svg>
                            </a>
                            <a href="javascript:;"
                               class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="" height="44" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-twitter" data-toggle="tooltip"
                                     title="" data-original-title="twitter.com/nobleui">
                                    <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                                </svg>
                            </a>
                            <a href="javascript:;"
                               class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-instagram" data-toggle="tooltip"
                                     title="" data-original-title="instagram.com/nobleui">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- logout Button-->
                <div class="card rounded mt-3">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <!--                        <h6 class="card-title mb-0">About</h6>-->

                        </div>
                        <div class="mt-3 d-flex social-links">
                            <a href="/irrigreatapp/smLogout" class="btn btn-primary btn-block w-100">Log Out</a>
                        </div>
                    </div>
                    <!--logout Button-->

                </div>
            </div>
            <!-- left wrapper end -->
            <!-- middle wrapper start -->
            <div class="col-md-4 col-xl-6 middle-wrapper" style="display:flex">

                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="profile-header">
                            <div class="cover">
                                <div class="gray-shade"></div>
                                <div class="gray-shade"></div>
                                <figure>
                                    <img src="https://bootdey.com/img/Content/bg1.jpg" class="img-fluid"
                                         alt="profile cover"
                                         style="height:11rem;">
                                </figure>
                                <div class="cover-body d-flex justify-content-between align-items-center">
                                    <div>
                                        <img class="profile-pic" src="http://127.0.0.1:8000/media/{{username.image}}"
                                             alt="profile">
                                        <span class="profile-name">{{username.fname}} {{username.lname}}<small
                                                class="text-muted fst-italic"> {{username.userType}}</small></span>
                                    </div>
                                    <div class="d-none d-md-block">
                                        <!-- Trigger the modal with a button -->
                                        <button id="cust_btn" data-toggle="modal" data-target="#myModal"
                                                class="btn btn-primary btn-icon-text btn-edit-profile">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-edit btn-icon-prepend">
                                                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                            </svg>
                                            Edit profile
                                        </button>
                                        <div class="container" style="position:fixed;">
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit Profile</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form class="form col-md-12 center-block" method="POST"
                                                                      action="{% url 'irrigreatapp:smProfile' %}">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="form-group col-md-6">
                                                                            <label>First Name:</label>
                                                                            <input type="text"
                                                                                   class="form-control input-sm"
                                                                                   value="{{username.fname}}"
                                                                                   name="fname"
                                                                                   placeholder="First Name" readonly>
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <label>Last Name:</label>
                                                                            <input type="text"
                                                                                   value="{{username.lname}}"
                                                                                   class="form-control input-sm"
                                                                                   name="lname"
                                                                                   placeholder="Last Name" readonly>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="form-group col-md-9">
                                                                            <label>Email:</label>
                                                                            <input type="text"
                                                                                   class="form-control input-sm"
                                                                                   value="{{username.email}}"
                                                                                   name="email"
                                                                                   placeholder="Email" readonly>
                                                                        </div>
                                                                        <div class="form-group col-md-3">
                                                                            <label>User Id:</label>
                                                                            <input readonly hidden type="text"
                                                                                   class="form-control input-sm"
                                                                                   value="{{username.id}}"
                                                                                   name="profileId">
                                                                            <input readonly type="text"
                                                                                   class="form-control input-sm"
                                                                                   value="{{userid.id}}" name="userid"
                                                                                   autocomplete="username">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-12">
                                                                        <label>Password:</label>
                                                                        <input type="password"
                                                                               class="form-control input-sm"
                                                                               name="password" placeholder="Password"
                                                                               readonly
                                                                               autocomplete="current-password">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="form-group col-md-6">
                                                                            <label>Birthday:</label>
                                                                            <input type="date"
                                                                                   class="form-control input-sm"
                                                                                   value=""
                                                                                   name="bdate">
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <label>Gender:</label>
                                                                            <select class="form-control input-sm"
                                                                                    name="gender">
                                                                                <option disabled
                                                                                        value="{{userid.gender}}">
                                                                                    {{userid.gender}}
                                                                                </option>
                                                                                <option value="Male">Male</option>
                                                                                <option value="Female">Female</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="form-group col-md-6">
                                                                            <label>City:</label>
                                                                            <input type="text"
                                                                                   class="form-control input-sm"
                                                                                   value="{{username.city}}"
                                                                                   name="city">
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <label>User Type:</label>
                                                                            <select class="form-control input-sm"
                                                                                    name="user_type">
                                                                                <option value="{{username.userType}}">
                                                                                    {{username.userType}}
                                                                                </option>
                                                                                <option value="Farmer">Farmer</option>
                                                                                <option value="Merchant">Merchant
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-12">
                                                                        <label>About:</label>
                                                                        <textarea type="text"
                                                                                  class="form-control input-sm"
                                                                                  name="about">{{username.about}}</textarea>
                                                                    </div>
                                                                    <div class="form-group col-md-12 mt-3">
                                                                        <div class="d-grid gap-2">
                                                                            <button type="submit"
                                                                                    class="btn btn-primary">Submit
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <script>
                                $(document).on("click","#cust_btn",function(){

                                    $("#myModal").modal("toggle");

                                })



                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-links">
                                    <ul class="links d-flex align-items-center mt-3 mt-md-0">
                                        <li class="header-link-item border-end d-flex align-items-center active">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-columns mr-1 icon-md">
                                                <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path>
                                            </svg>
                                            <a class="pt-1px d-none d-md-block" href="#">Timeline</a>
                                        </li>
                                        <li class="header-link-item ml-3 pl-3 border-end d-flex align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-user mr-1 icon-md">
                                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="12" cy="7" r="4"></circle>
                                            </svg>
                                            <a class="pt-1px d-none d-md-block" href="#">About</a>
                                        </li>
                                        <li class="header-link-item ml-3 pl-3 border-end d-flex align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-users mr-1 icon-md">
                                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="9" cy="7" r="4"></circle>
                                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                            </svg>
                                            <a class="pt-1px d-none d-md-block" href="#">Friends <span
                                                    class="text-muted tx-12">{{username.total_follow}}</span></a>
                                        </li>
                                        <li class="header-link-item ml-3 pl-3 border-end d-flex align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-image mr-1 icon-md">
                                                <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                                <circle cx="8.5" cy="8.5" r="1.5"></circle>
                                                <polyline points="21 15 16 10 5 21"></polyline>
                                            </svg>
                                            <a class="pt-1px d-none d-md-block" href="#">Photos</a>
                                        </li>
                                        <li class="header-link-item ml-3 pl-3 d-flex align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-video mr-1 icon-md">
                                                <polygon points="23 7 16 12 23 17 23 7"></polygon>
                                                <rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
                                            </svg>
                                            <a class="pt-1px d-none d-md-block" href="#">Videos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class="col-md-12 grid-margin">
<!--                                            <div class="card rounded">-->
<!--                                                {% include 'createPost.html' %}-->
<!--                                            </div>-->
                                        </div>
                    {%for p in post.all%}
                    <div class="col-md-12 grid-margin">
                        {% include 'showAllPost.html' %}
                    </div>
                    {% empty %}
                    <div class="col-md-12 grid-margin">
                        <h2 class="text-center text-muted">Create your First Post</h2>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <!-- middle wrapper end -->
            <!-- right wrapper start -->
            <div class="d-none d-xl-block col-md-4 col-xl-3 mt-2 right-wrapper"
                 style="position:fixed; top:5rem;right:0; overflow-x: auto;">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">Latest photos</h6>
                                {% include 'latestPhoto.html' %}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">Suggestions for you</h6>
                                {% for user in allSmUser %}
                                <div class="d-flex justify-content-between mb-2 pb-2  {% if not forloop.last %} border-bottom {% endif %}">
                                    <a class="btn btn-icon" href="{% url  'irrigreatapp:friendprofile' user.id %}">
                                        <div class="d-flex align-items-center hover-pointer">
                                            <img class="img-xs rounded-circle"
                                                 src="http://127.0.0.1:8000/media/{{user.image}}" alt="">
                                            <div class="ms-2">
                                                <p class="mb-0">{{ user.fname }} {{ user.lname }}</p>
                                                <p class="text-muted mb-0" style="font-size: 11px;">
                                                    {{user.total_follow}}
                                                    Follower</p>
                                            </div>
                                        </div>
                                    </a>
                                    <form action='friendprofile/follow/{{user.id}}' method='POST'>
                                        {% csrf_token %}
                                        <div class="btn-group" role="group"
                                             aria-label="Button group with nested dropdown">
                                            <button type='submit' name='{{user.id}}' value='{{user.id}}'
                                                    class="btn btn-sm btn-primary btn-sm w-100">Follow<i class=""></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right wrapper end -->
        </div>
    </div>
</div>
{% endblock baseBody %}