{% extends 'merchantbase.html' %}

{% block username%}
{{merchantName}}
{% endblock %}

{% block body%}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Purchased List</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the official DataTables documentation.
    </p>
    <!-- DataTales -->
    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                         <th>Order Id</th>
                        <th>Seller Id</th>
                        <th>Seller Name</th>
                        <th>Product</th>
                        <th>Quantity<small class=""> in quintal</small></th>
                        <th>Price<small class=""> per kg</small></th>
                        <th>Order Date</th>
                    </tr>
                    </thead>
                    <tfoot>

                    <tr>
                        <th>Order Id</th>
                        <th>Seller Id</th>
                        <th>Seller Name</th>
                        <th>Product</th>
                        <th>Quantity<small class=""> in quintal</small></th>
                        <th>Price<small class=""> per kg</small></th>
                        <th>Order Date</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for b in orderObj %}
                    <tr>
                        <td class="">{{ b.id }}</td>
                        <td class="">{{ b.farmerId }}</td>
                        <td class="">{{ b.farmerName }}</td>
                        <td class="">{{ b.product }}</td>
                        <td class="">{{ b.qty }}</td>
                        <td class="">{{ b.price }}</td>
                        <td class="">{{ b.date }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}